body {
  text-align: center;
  font-family: "Montserrat";
}

p {
  color: #8f8f8f;
}

.container-fluid {
  padding: 7% 15%;
}

/* Heading */
.big-heading {
  font-family: "Montserrat";
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
  color: white;
}

.section-heading {
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

#title {
  background-color: #FF4C68;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

.title-image {
  width: 20.8%;
  transform: rotate(25deg);
  position: absolute;
  right: 380px;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar {
  padding-bottom: 4.5rem;
  padding-top: 0;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
}

.download-button {
  margin: 5% 3% 5% 0;
}

#features {
  background-color: white;
  position: relative;
  z-index: 1;
}

.feature-title {
  font-weight: bold;
}

.feature-box {
  padding: 5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #FF4C68;
}

.testimonial-image {
  border-radius: 100%;
  width: 10%;
  margin: 20px;
}

.press-img {
  width: 15%;
  margin: 20px 20px 50px;
}

.colume-price {
  padding: 3% 2%;
}

#testimonials {
  background-color: #ef8172;
  color: white;
}

.testimonial-text {
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

#pricing {
  padding: 100px;
}

.card-text {
  font-weight: bold;
}

.price-text {
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

#cta {
  background-color: #FF4C68;
  font-family: Montserrat;
}

.cta-button {
  padding: 8px 16px;
  margin: 5% 3% 5% 0;
}

#footer {
  background-color: white;
}

.social-icon {
  margin: 20px 10px;
}

@media (max-width: 1200px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
    width: 60%;
  }
}
